// TIPOGRAFIA
$font-primary: 'Nunito Sans', sans-serif;
$font-secondary: 'Roboto Condensed', sans-serif;

$font-size-base: 1rem;
$font-size-small: 0.95rem;
$font-size-large: 1.5rem;
$font-size-xl: 4rem;

$line-height-base: 1.6;
$line-height-small: 1.5;
$line-height-large: 1.7;

//COLORES 
$color-primary: #22396b;
$azul-claro: #007aff;
$color-secondary: #ffc307;
$white: #f9f9f9;
