body {
    background-color: #e7e2ed;
    padding: 10px;
}
.fondo-titulo {
    padding-top: 80px; 
}
.noticias {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));  
    gap: 20px; 
    padding: 20px;

    article {
        background-color: rgba(0, 0, 0, 0.5);
        padding: 15px;
        border-radius: 8px;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    }

    @media (max-width: 768px) {
        grid-template-columns: 1fr; 
    }
    }


@media (max-width: 768px) {
    .fondo-titulo {
        padding-top: 40px; 
    }
}

main{
    @include main-padding;
}

p {
    text-align: justify;
    color: $white;
    margin-bottom: 2rem;
}