//Aca va la tipografia con la font family
.nav-menu{
    ul{
        font-family: $font-primary;
    }
}
body {
    font-family: $font-primary;
}
.titulos {
    font-family: $font-secondary;
    font-size: 3rem;
}

.subtitulos {
    font-style: italic;
    font-weight: 400;
}
p {
    @include text-style($font-size-base,$line-height-base, )
}
.p-contactos {
    @include text-style($font-size-base,$line-height-base, )
}
.p-footer {
    font-family: $font-primary;
    font-size: $font-size-base;
    line-height: $line-height-small;
    &::after {
        content:"|Todos los derechos reservados";
        font-size: 0.85rem;

    }
}
.nav-link {
    font-weight: bold;
}
.historia-lista {
    list-style: none;
    & li::before {
        content: "⭐"; 
        list-style: none;
        font-size: 1.2rem;
    }
}
.custom-label {
    font-size: $font-size-large; 
    font-weight: bold; 
    font-family: $font-primary; 
}
footer{
    a{
        font-size: $font-size-base;
        font-family: $font-primary;
        font-weight: normal;
        text-decoration: none;
    }
}
