#imagen-index {
    width: 1080px;
    max-width: 1980px;
    height: auto;
    display: block;
    margin: auto;
}

.imagen-prensa {
    width: 48%;
    height: auto;
    display: inline-block;
    margin: 1px;
}

.video-socios {
    width: 80%;
    height: auto;
    display: block;
    margin: auto;
}
