

/* HEADER */



/* BODY */


.subtitulos {
        
    margin: initial;
    text-align: start;
}

.titulos {
    color: darkblue;
    text-align: center;
}




#imagen-index {
    width: 1080px;
    max-width: 1980px;
    height: auto;
    display: block;
    margin: auto;
}

.imagen-prensa {
    width: 48%;
    height: auto;
    display: inline-block;
    margin: 1px;
}

.video-socios {
    width: 80%;
    height: auto;
    display: block;
    margin: auto;
}

/* FOOTER */


@media (max-width: 768px) {
    .navbar-nav {
        flex-direction: column;
        text-align: center;
        width: 100%;
        border: none;
        background: transparent;
    }

    .nav-item {
        margin: 10px 0;
        width: 100%;
    }

    .navbar-toggler {
        margin: 0;
        border: none;
        background: transparent;
    }

    .navbar-brand {
        padding: 0;
    }
}

.navbar-toggler {
    border: none;
    padding: 0;
    background-color: transparent;
}

.navbar-toggler-icon {
    background: transparent;
    width: 30px;
    height: 30px;
    border: none;
    box-shadow: none;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    border: none;
    background: transparent;
}

.nav-item {
    margin-left: 20px;
    margin-right: 20px;
}

.nav-link {
    color: #f9f9f9 !important;
}

.nav-link:hover {
    color: #ffc307 !important;
    text-decoration: underline;
}


.bg-light {
    background-color: #122071 !important; /* Aquí pones el color que prefieras */
}
.historia-lista {
    list-style: none; 
    padding: 0;
}

.historia-lista li::before {
    color: gold;  
    margin-right: 8px; 
}
